
 <ion-header-bar align-title="center" class="bar-royal">
  <div class="buttons">
    <button class="button icon ion-ios-location-outline" ng-click="chat()" style="border-color:transparent"></button>
  </div>
  <h1 class="title">Live Feed</h1>
  <div class="buttons">
    <button class="button icon ion-ios-information-outline" ng-click="openModal()" style="border-color:transparent"></button>
  </div>
</ion-header-bar>

<ion-view view-title="Map"  id="parent" ng-controller="ChatCtrl" style="margin-top:60px;background-color:#231f20; background: #231f20 url('img/fire.gif') no-repeat center center fixed;padding-bottom:100px !important;overflow:scroll;">
    <!-- <div style="clear:both;margin-right:10px;" ng-repeat="message in messageArray" >
    <p class="from-me">
          {{message.message}}
          {{message._id}}
          {{message.points}}
    </p>
    </div> -->
    <ion-list ng-controller="ChatCtrl"
          show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          style="margin-top:60px;"
          can-swipe="listCanSwipe">
  <ion-item ng-repeat="message in messageArray | orderBy: '-points'"
            class="" style="white-space:normal !important">
    <div class="row">
    <div class="col-45">
      <h2 style="color:white;font-size:12px;margin-right:-10px;"><i class="ion-ios-pulse"></i> {{message.points}}</h2>
      <p style="color:white;font-size:12px;margin-left:0px;float:left;overflow:visible;"><i class="ion-ios-at-outline"></i> {{message.date | date: 'shortTime'}}</p>
    </div>
    <div class="col-55">
    <!-- <h2 style="color:white;">{{message.id}}</h2> -->
    <p  style="color:white;white-space:normal !important;padding-top:6px;margin-left:50px;float:left;text-align:left;">{{message.message}}</p>
    </div>
    <ion-option-button class="button-positive"
                       ng-click="down(message)">
      DownVote
    </ion-option-button>
    <ion-option-button class="button-info"
                       ng-click="up(message)">
      UpVote
    </ion-option-button>
    <ion-delete-button class="ion-minus-circled"
                       ng-click="message.splice($index, 1)">
    </ion-delete-button>
    <ion-reorder-button class="ion-navicon"
                        on-reorder="reorderItem(message, $fromIndex, $toIndex)">
    </ion-reorder-button>
    </div>
  </ion-item>
</ion-list>
  
    
</ion-view>


<ion-footer-bar class="bar-royal" style="height:60px;" ng-controller="ChatCtrl">
    <div class="list" style="width:100%;position:absolute;z-index:50;">
      <div class="item item-input-inset" style="border:none;">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Message" id="message" style="width:99%">
        </label>
        <button class="button button-small" ng-click="postMessage()">
          Send
        </button>
      </div>
    </div>
</ion-footer-bar>