
<ion-view view-title="Map" id="parent" ng-controller="MapCtrl">
    <ui-gmap-google-map style="overflow-x:scroll" control="map.control" id="child" ng-if="map.show" center='map.center'  zoom='map.zoom' options="map.options">
        <ui-gmap-layer  namespace="visualization" type="HeatmapLayer"  show="map.showHeat == '1'" onCreated="map.heatLayerCallback" >
        </ui-gmap-layer>
         <ui-gmap-layer  namespace="visualization" type="HeatmapLayer"  ng-if="map.showHeat2 == '1'" onCreated="map.heatLayerCallback2" >
         </ui-gmap-layer>
    </ui-gmap-google-map>
    <ion-footer-bar class="bar-royal">
        <h1 class="title">
            <div class="buttons">
                <button class="button button-clear" ng-click="addLocation()" style="width:40%;margin-top:5px;background-color:white;color:#000c2f;">It's pretty bad!</button>
                <button class="button button-clear" ng-click="refreshLocation()" style="width:40%;margin-top:5px;background-color:white;color:#000c2f;">refresh</button>
            </div>
        </h1>
        <!-- <p>
            Lat: {{map.long}}
            Long: {{map.lat}}
        </p> -->
    </ion-footer-bar>
</ion-view>
